body{
   background-image: linear-gradient(black,darkblue,slategrey);
}
p{
    font-size: larger;
    font-family: cursive;
    color:blanchedalmond;
    padding-top: 25px;
    font-weight: bolder;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-image:linear-gradient(coral,salmon,lightsalmon,darkgoldenrod);
    border-radius: 10px;
    padding-bottom: 35px;
    margin-bottom: 25px;
}
#username{
    font-family: cursive;
}
#password{
    font-family: cursive;
}
label{
  color:black;
  font-family: cursive;
}
button{
    background-color:goldenrod;
    color: wheat;
    font-weight: bold;
    font-family: cursive;
}
